@import "tailwindcss";

:root {
  --bg: #131313;
  --primary: #ffffff;
  --secondary: #333333;
  --tertiary: #555555;
  --neutral: #1c1c1c;

  --text-gray: #fff9;

  --headerHeight: 8vh;
  --homeHeight: calc(100vh - var(--headerHeight));
  --pageSpace:5vw
}

@theme {
  --color-bg: var(--bg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

html {
  margin: 0px;
  background-color: var(--color-bg);
  color: #fff;

  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  overflow-x: hidden;
}

.page-padding {
  padding-left: var(--pageSpace);
  padding-right: var(--pageSpace);
}

.page-margin {
  margin-left: var(--pageSpace);
  margin-right: var(--pageSpace);
}